<div class="container">
    <h1>Internal server error - refreshing the page will make the exception disappear</h1>
    <h2 class="text-danger">Error: {{error.message}}</h2>
    <p class="font-weight-bold">Note: if you're seeeing this then Angular is probably not responsible</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev tools</li>
        <li>Inspect network tab</li>
        <li>Check the failing requests</li>
        <li>Examine this request URL</li>
        <li>Reproduce the error in postman</li>
    </ol>
</div>
