.info-col{
    padding-left: 3%;
}
.item-name {
    margin-bottom: 7%;
    font-size: 2.5rem;
}
.price {
    margin-bottom: 7%;
    font-size: 1.5rem;
}
.purchase-section {
    text-align: left;
    margin-bottom: 7%;
}
.amount {
    font-size: 1.8rem;
    margin: 0 15px;
}
.purchase-btn {
    position: relative;
    bottom: 8px;
    margin-left: 10%;;
}

.description-header{
    font-size: 2rem;
    margin-bottom: 5%;
}
.desc-text {
    font-size: 1.1rem;
    padding-bottom: 5%;
}