.product-card {
  padding-bottom: 90px;
}

.button-row {
  position: absolute;
  bottom: 20px;
}
.button {
  text-align: center;
}
.right-buttons {
  position: relative;
  right: 15px;
  //text-align: center;
}
.upper-buttons {
  //text-align: left;
  margin-bottom: 15px;
}
